pytest-django==3.8.0
django
py
colorama
pip
zlib
wheel
openssl
cryptography
lxml
keyring
pytz
sqlparse
yaml
pyyaml
jinja2
tblib
numpy
docutils
importlib_metadata
pytest
attrs
pluggy
typing_extensions
packaging
atomicwrites
pathlib2
pexpect
wcwidth
pyparsing
six
setuptools
cython
contextlib2
backports
zipp